<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032661125582-pm1qgs5q7ju2it30bjo0ofl99dvgbqjn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032661125582-pm1qgs5q7ju2it30bjo0ofl99dvgbqjn</string>
	<key>API_KEY</key>
	<string>AIzaSyArfjytbkiuJ8YlL8m_TA5nE5DyLndGpBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1032661125582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ChristianCalloway.ExploreUW</string>
	<key>PROJECT_ID</key>
	<string>exploreuw</string>
	<key>STORAGE_BUCKET</key>
	<string>exploreuw.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032661125582:ios:7727b58821d267f89a839f</string>
</dict>
</plist>